/* styles.css */
html{
	width: 100%;
	height: 100%;
}

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');


body {
  background-image: url("../img/Marble.jpg"); /* adjust path if needed */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: black;
  font-family: serif;
}

.blog-title {
  font-family: 'UnifrakturMaguntia', cursive;
  color: black;
  text-align: center;
  font-size: 3rem;
  margin: 20px 0;
}
